*{
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}
.basic-buttons-section{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;

    column-gap: 75px;

    color: #333;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
button{
    color: #3F3F3F;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}